{% extends 'layouts/base_login.html' %}

{% block content %}

<style>/* mismos estilos de formulario */ select.form-select, textarea.form-control { background-color: rgb(232, 235, 232); font-style: oblique; font-weight: 500; } textarea.form-control { color: black; } textarea.form-control:focus, select.form-select:focus { background-color: rgb(232, 235, 232); box-shadow: none; }</style>

<div class="row mt-md-4">
  <div class="col-12 col-md-8 offset-md-2 my-1">
    <div class="card-body rounded-1" style="background-color: rgb(232, 235, 232);">
      <div class="alert" role="alert">
        <h2 class="text-center mb-4 pb-3" style="font-style: oblique;">Análisis DOFA </h2>
        <p>{{ idea.idea|linebreaks }}</p>
        <p class="text-muted"><small>Creado el {{ idea.created_date|date:"d - F - Y" }}</small></p>
      </div>
      
      <div class="d-flex justify-content-end gap-2">
        <a href="{% url 'new_ideas_edit' idea.slug %}" class="btn btn-dark rounded-1"><i class="fa-solid fa-pen"></i> Editar</a>
        <a href="{% url 'new_ideas_delete' idea.slug %}" class="btn btn-danger rounded-1"><i class="fa-solid fa-trash"></i> Eliminar</a>
        <a href="{% url 'new_ideas_list' %}" class="btn btn-secondary rounded-1"><i class="fa-solid fa-arrow-left"></i> Volver</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}