{% extends 'layouts/base_login.html' %}

{% block content %}
{% load socialaccount %}

    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col col-sm-8 offset-sm-2 col-md-8 offset-md-2">
                <h1 class="text-center my-3 display-6">Registrarse</h1>
                <div class="col-lg-8 col-xxl-4 mx-auto card-body px-2">
                <form action="" method="post">

                    {% csrf_token %}

                    {{ form }}

                    {% if error %}
                    <div class="alert alert-danger mt-3" role="alert">
                        {{ error }}
                    </div>
                    {% endif %}
                    
                    <button class="col-12 btn btn-success mt-4" type="submit">Registrarse 
                        <i class="fa-solid fa-right-to-bracket "></i>
                    </button>

                    <div class="col-12 border mt-4">
                    </div>

                    <p class="mt-2">¿Ya tienes una cuenta?<br>
                        <a class="link-underline link-underline-opacity-25" href="{% url 'login' %}">Iniciar sesión</a>
                    </p>
                    
                    
                </form>
                <h3>OR</h3>
                <a href="{% provider_login_url 'google' %}">Sign up with Google</a>
               </div>
            </div>
        </div>
    </div>
    
{% endblock %}