{% extends 'recording_emotion/base.html' %}

{% block content %}
<div class="row my-4">
  <div class="col-12 col-md-8 offset-md-2">
    <div class="card rounded-1 border-0">
      <div class="card-body rounded-1" style="background-color: rgb(232, 235, 232);">
        <!-- Título y emoción -->
        <h3 class="mb-3 d-flex justify-content-between">
            Día {{ registro.created_date|date:"d - F - Y" }}

          <span class="badge bg-dark text-white fs-5 py-2">{{ registro.get_emotion_display }}</span>
        </h3>
        
        <!-- Descripción del día -->
        <h5 class="mb-2">Cómo fue tu día:</h5>
        <p class="card-text">{{ registro.description_day|linebreaks }}</p>
        
        <!-- Descubrimiento -->
        <h5 class="mb-2 mt-4">Lo que descubriste:</h5>
        <p class="card-text">{{ registro.discovery }}</p>
        
        <!-- Acciones -->
        <div class="mt-4 d-flex flex-nowrap justify-content-end gap-2">
          <a href="{% url 'registro_editar' registro.slug %}" class="btn btn-dark rounded-1 mb-2">
            <i class="fa-solid fa-pen"></i> Editar
          </a>
          <a href="{% url 'registro_eliminar' registro.slug %}" class="btn btn-danger rounded-1 mb-2">
            <i class="fa-solid fa-trash"></i> Eliminar
          </a>
          <a href="{% url 'registro_lista' %}" class="btn btn-secondary rounded-1 mb-2">
            <i class="fa-solid fa-arrow-left"></i> Volver
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
