{% extends 'layouts/base_login.html' %}

{% block content %}

<style>
    select.form-select {
      background-color: rgb(232, 235, 232);
      font-style:oblique;
      font-weight: 500;
    }
    select.form-select:focus {
      background-color: rgb(232, 235, 232);  /* Sobrescribe el fondo al hacer focus */
      box-shadow: none;           /* Opcional: remueve la sombra */
    }
  
    textarea.form-control {
      background-color: rgb(232, 235, 232);
      font-style:oblique;
      font-size: 1.1rem;
      font-weight: 500;
    }
    textarea.form-control:focus {
      background-color: rgb(232, 235, 232);  /* Sobrescribe el fondo al hacer focus */
      box-shadow: none;           /* Opcional: remueve la sombra */
    }
    textarea.form-control {
      font-style:oblique;
    }
  </style>


  <div class="row my-3">
    <div class="col-12 col-md-8 offset-md-2">
      <div class="rounded-1 border-0 shadow-sm">
        <div style="background-color: rgb(232, 235, 232);">
          <h5 class="">Editar registro del</h5>
          <figcaption class="blockquote-footer pt-2">
            {{ registro.created_date|date:"d - F - Y" }}
          </figcaption>
        </div>
        <div>
          <form method="post">
            {% csrf_token %}
            <div class="mb-3">
              {{ form.emotion }}
            </div>
            <div class="mb-3">
              {{ form.description_day|safe }}
            </div>
            
            <div class="d-flex flex-nowrap justify-content-end gap-2">
              <button type="submit" class="btn btn-dark rounded-1 mb-2" style="font-style: oblique;">
                <i class="fa-solid fa-save"></i> Guardar cambios
              </button>
              <a href="{% url 'registro_detalle' registro.slug %}" class="btn btn-secondary rounded-1 mb-2">
                <i class="fa-solid fa-xmark"></i> Cancelar
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
